// db
exports.debugMode = process.env.DEBUG=='true' || process.env.DEBUG=='1' || false;
exports.inSockPort = inSockPort;   //Internal port for services connection
exports.outSockPort = outSockPort;  //External port for vehicles
exports.redisDb =  redisDbNumber;
exports.serverName = "serverName";

if (exports.debugMode) {
  console.log("DebugMode active");
  exports.httpPort +=  10000;
  exports.httpUnsecurePort +=  10000;
  exports.logPath += "debug/";
}

