// db
exports.pgDb = "postgres://sharengo:gmjk51pa@127.0.0.1/sharengo";
exports.mongoUrl = 'mongodb://127.0.0.1:27017/sharengo';
exports.zmqRouterUrl = 'tcp://127.0.0.1:8000';
exports.redisDb = "redis://127.0.0.1:6379/1";
exports.redisCluster =   [{host: '127.0.0.1', port: 26379}];
exports.redisSentinels =  { sentinels: [{host: '127.0.0.1', port: 26379}],  name : 'localhost' };
exports.logPath = "/var/log/services/";
exports.conString = 'postgres://sharengo:gmjk51pa@127.0.0.1/sharengo';
exports.gatewayApiURL = "localhost:50594";

