// db
exports.pgDb = "postgres://username:password@ServerIP/DBName";
exports.debugMode = process.env.DEBUG=='true' || process.env.DEBUG=='1' || false;
exports.httpPort =  httpPort;
exports.httpUnsecurePort =  httpUnsecurePort;
exports.logPath = "/path/to/log/";
exports.serverName = "serverName";

if (exports.debugMode) {
    console.log("DebugMode active");
    exports.httpPort +=  10000;
    exports.httpUnsecurePort +=  10000;
    exports.logPath += "debug/";
}

